$primary-color:#409EFF;
$success-color:#67C23A;
$warning-color:#E6A23C;
$danger-color:#F56C6C;
$background-color:rgba(238, 238, 238, 0.3);
$primary-text-color:#292b33;
$secondary-text-color:#666;
$auxiliary-text-color:#999;
$title-color:#2e344c;
$prompt-color:#a4a8ba;
$ornament-color:#fd4747;